/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  body {
    background-image: url("https://www.flagcolorcodes.com/data/Gender-Agender-Flag.png");
    background-size: 1600px;
    font-family: Arial, sans-serif;
    font-size: large;
    line-height: 1.5;
    background-color: #FFF;
  }
  
  /* Header and navigation styles */
  header {
    background-color: #000000;
    color: #fff;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 40px;
  }
  
  nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #B7F684;
  }
  
  nav ul li a:hover {
    text-decoration: none;
    color: #BCC4C7;
  }

  label {
    display: inline-block;
    width: 90px;
    text-align: right;
  }

  input, textarea {
    width: 500px;
    margin-right: 100px;
  }
  
  /* Homepage hero section */
  .hero {
    background-image: url('hero-image.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 36px;
    padding: 100px 0;
    color: #000000;
  }

  .hero h2 {
    font-size: 24px;
    color: #000000;
  }
  
  .hero p {
    font-size: 18px;
    color: #000000;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 100px;
    background-color: #B7F684;
    color: #B7F684;
    text-decoration: none;
    border-radius: 4px;
  }

  .btn:hover{
    background-color: #9ff76c;
  }
  